---
import Header from '../components/Header.astro';
import Inicio from '../components/Inicio.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portafolio Web | FC">
	<Header/>
	<main class="grid w-full h-auto place-items-center">
		<Inicio/>
	</main>
</Layout>