---
import Estudios from '../components/Estudios.astro';
import Experiencia from '../components/Experiencia.astro';
import Habilidades from '../components/Habilidades.astro';
import Header from '../components/Header.astro';
import Inicio from '../components/Inicio.astro';
import ParticipacionEventos from '../components/ParticipacionEventos.astro';
import Proyectos from '../components/Proyectos.astro';
import SobreMi from '../components/SobreMi.astro';
import Layout from '../layouts/Layout.astro';

import { getI18N } from '../i18n/';
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale })
---

<Layout title={i18n.Title} description={i18n.Description}>
	<Header/>
	<main id="inicio" class="grid w-full h-auto place-items-center">
		<Inicio/>
		<Experiencia/>
		<Proyectos/>
		<Habilidades/>
		<SobreMi/>
		<Estudios/>
		<ParticipacionEventos/>
	</main>
</Layout>