---
import Estudios from '../components/Estudios.astro';
import Experiencia from '../components/Experiencia.astro';
import Habilidades from '../components/Habilidades.astro';
import Header from '../components/Header.astro';
import Inicio from '../components/Inicio.astro';
import Proyectos from '../components/Proyectos.astro';
import Layout from '../layouts/Layout.astro';

import { getI18N } from '../i18n/';
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale })
---

<Layout title={i18n.Title} description={i18n.Description}>
	<Header/>
	<main id="inicio" class="grid w-full h-auto place-items-center">
		<Inicio/>
		<Experiencia/>
		<Proyectos/>
		<Habilidades/>
		<Estudios/>
	</main>
</Layout>

<script>
	import { gsap } from "gsap";

	document.addEventListener("DOMContentLoaded", function() {
		const tl = gsap.timeline({ defaults: { ease: "power1.out" } });

		tl.from("#nav",
			{
				autoAlpha: 0,
				y: -50,
				scale: 0.5,
				duration: 0.8,
			}
		)
		.from("#text1",
			{
				autoAlpha: 0,
				y: -50,
				scale: 0.5,
				duration: 0.8,
			}
		)
		.from("#text2",
			{
				autoAlpha: 0,
				y: -50,
				scale: 0.5,
				duration: 0.8,
			}
		)
		.from(".iconInicio",
			{
				autoAlpha: 0,
				y: -50,
				scale: 0.5,
				stagger: {
					each: 0.1,
					grid: "auto",
					from: "center",
				}
			}
		)
		.from("#text3",
			{
				autoAlpha: 0,
				y: -50,
				scale: 0.5,
				duration: 0.8,
			}
		)
		.from("#spanHeader", {
			autoAlpha: 0,
			y: -50,
			scale: 0.5,
			duration: 0.8,
		});
	});
</script>