---
import Layout from '../layouts/Layout.astro';
import GitHubIcon from "./icons/GitHubIcon.astro";

import { getI18N } from '../i18n/';
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale })
---

<Layout title={i18n.Title} description={i18n.Description}>
    <main class="grid w-full h-full bg-gray-100 overflow-hidden grid-cols-2 sm:grid-cols-4 md:grid-cols-5 lg:grid-cols-6 gap-y-2">
        <div class="m-3 rounded-md bg-gray-300 col-span-2 row-auto sm:col-span-4 md:col-span-5 lg:col-span-6">
            <span class="w-full h-full">
                <h1 class="mt-5 text-gray-800 text-5xl font-extrabold text-center">Francisco Javier Castilleja Quintanilla</h1>
                <h3 class=" text-gray-700 text-lg text-center">Ingeniero en Sistemas Computacionales - Tamaulipas, México</h3>
                <p class="mt-1 mb-5 text-gray-600 text-pretty text-center">Me especializo en el desarrollo front-end y tengo un interés activo en ampliar mis habilidades hacia el back-end con el objetivo de convertirme en un desarrollador full-stack. Mi dedicación a mantenerme actualizado con las últimas tendencias y tecnologías demuestra mi disposición para asumir nuevos desafíos y contribuir al éxito de proyectos multidisciplinarios.</p>
            </span>
        </div>
        <div class="m-3 px-5 text-black rounded-md bg-gray-300 col-span-2 row-auto sm:col-span-4 md:col-span-5 lg:col-span-6">
            <h2 class="my-3 text-3xl">Experiencia</h2>
            <div class="w-full h-auto">
                <h5 class="my-2 text-lg font-bold">Proyecto de Investigación Universitario - Desarrollo de herramienta para personas con discapacidad auditiva</h5>
                <h6 class="my-2 text-base">2023 - Current</h6>
                <p class="my-1">El objetivo es brindar a las personas con discapacidad auditiva la oportunidad de brindar una comunicación inclusiva.</p>
                <p class="my-1">Se lleva a cabo una investigación profunda para brindar una herramienta que sirva como interprete de la Lengua de Señas Mexicana.</p>
                <p class="my-1">La herramienta implementa una red neuronal que permite la interpretación de las señas.</p>
                <span class="flex gap-x-3">
                    <p class="my-1 p-1 border border-gray-800 rounded-lg">Python</p>
                    <p class="my-1 p-1 border border-gray-800 rounded-lg">TensorFlow</p>
                    <p class="my-1 p-1 border border-gray-800 rounded-lg">OpenCV</p>
                </span>
                <hr class="my-2">
            </div>
            <div class="w-full h-auto">
                <h5 class="my-2 text-lg font-bold">Proyecto Personal - Desarrollo de Sitio Web MarvelKnight </h5>
                <h6 class="my-2 text-base">Diciembre 2022 - Actualmente</h6>
                <p class="my-1">Proyecto desarrollado de manera autónoma para informar a los fanáticos sobre el Multiverso de Marvel.</p>
                <p class="my-1">El sitio se encuentra en su versión 2. Actualmente trabajo en la versión 3 donde se implementarán mas funciones y solución de errores.</p>
                <p class="my-1">Actualmente estoy trabajando con el Framework de Astro para el desarrollo, y se encuentra desplegado en Vercel.</p>
                <span class="flex gap-x-3">
                    <p class="my-1 p-1 border border-gray-800 rounded-lg">HTML</p>
                    <p class="my-1 p-1 border border-gray-800 rounded-lg">CSS</p>
                    <p class="my-1 p-1 border border-gray-800 rounded-lg">JavaScript</p>
                </span>
                <hr class="my-2">
            </div>
            <div class="w-full h-auto">
                <h5 class="my-2 text-lg font-bold">Divulgación sobre el propósito del Proyecto de Investigación</h5>
                <h6 class="my-2 text-base">Noviembre - Diciembre 2023</h6>
                <p class="my-1">Conferencia sobre los puntos importantes relacionados al Proyecto de Investigación.</p>
                <p class="my-1">Se informó sobre como las personas con discapacidad auditiva afrontan dificultades, la importancia de estar bien informados sobre como actuar para que haya una mejor inclusión en la sociedad y sobre los objetivos relacionados con el desarrollo de la herramienta.</p>
                <p class="my-1">La conferencia fue dirigida a estudiantes de la Universidad Autónoma de Tamaulipas, de la Facultad de Reynosa. Dicha conferencia fue parte de la semana académica de Ing. en Sistemas Computacionales.</p>
            </div>
        </div>
        <div class="m-3 px-5 text-black rounded-md bg-gray-300 col-span-2 row-auto sm:col-span-4 md:col-span-5 lg:col-span-6">
            <h2 class="my-3 text-3xl">Educación</h2>
            <div class="w-full h-auto">
                <h5 class="my-2 text-lg font-bold">Universidad Autónoma de Tamaulipas</h5>
                <h6 class="my-2 text-base">Facultad de Medicina e Ingeniería en Sistemas Computacionales de Matamoros</h6>
                <h6 class="my-2 text-base">Ingeniero en Sistemas Computacionales (Titulo en Proceso)</h6>
                <h6 class="my-2 text-base">2019 - 2023</h6>
                <p class="mb-2">Durante mis estudios adquirí conocimientos relacionados con el desarrollo de software, desarrollo web, inteligencia artificial, redes, automatización, entre otros.</p>
            </div>
        </div>
        <div class="m-3 px-5 text-black rounded-md bg-gray-300 col-span-2 row-auto sm:col-span-4 md:col-span-5 lg:col-span-6">
            <h2 class="my-3 text-3xl">Información</h2>
            <div class="w-full h-auto">
                <hr>
                <p class="my-3 text-lg">Habilidades Blandas</p>
                <span class="grid gap-x-3 grid-cols-2 md:flex">
                    <p class="grid place-items-center my-1 p-1 text-center border border-gray-800 rounded-lg">Trabajo en equipo</p>
                    <p class="grid place-items-center my-1 p-1 text-center border border-gray-800 rounded-lg">Resolución de problemas</p>
                    <p class="grid place-items-center my-1 p-1 text-center border border-gray-800 rounded-lg">Creatividad</p>
                    <p class="grid place-items-center my-1 p-1 text-center border border-gray-800 rounded-lg">Aprendizaje Continuo</p>
                </span>
                <hr>
                <p class="my-3 text-lg">Habilidades Duras</p>
                <span class="grid gap-x-3 grid-cols-2 md:flex">
                    <p class="grid place-items-center my-1 p-1 text-center border border-gray-800 rounded-lg">HTML</p>
                    <p class="grid place-items-center my-1 p-1 text-center border border-gray-800 rounded-lg">CSS</p>
                    <p class="grid place-items-center my-1 p-1 text-center border border-gray-800 rounded-lg">JavaScript</p>
                    <p class="grid place-items-center my-1 p-1 text-center border border-gray-800 rounded-lg">Astro</p>
                    <p class="grid place-items-center my-1 p-1 text-center border border-gray-800 rounded-lg">Tailwind CSS</p>
                    <p class="grid place-items-center my-1 p-1 text-center border border-gray-800 rounded-lg">Git</p>
                    <p class="grid place-items-center my-1 p-1 text-center border border-gray-800 rounded-lg">GitHub</p>
                    <p class="grid place-items-center my-1 p-1 text-center border border-gray-800 rounded-lg">Python</p>
                    <p class="grid place-items-center my-1 p-1 text-center border border-gray-800 rounded-lg">MySQL</p>
                    <p class="grid place-items-center my-1 p-1 text-center border border-gray-800 rounded-lg">Microsoft SQL Server</p>
                </span>
                <hr>
                <p class="my-3 text-lg">Idiomas</p>
                <span class="flex gap-x-3">
                    <p class="my-1 p-1 border border-gray-800 rounded-lg">Español - Nativo</p>
                    <p class="my-1 p-1 border border-gray-800 rounded-lg">Ingles - Básico</p>
                </span>
                <hr class="w-11/12">
                <p class="my-3 text-lg">Contacto</p>
                <p class="my-1">Francisco_Castilleja@outlook.com</p>
                <p class="my-1">8681581653</p>
                <p class="my-1">linkedin.com/in/francisco-castilleja</p>
                <p class="my-1">github.com/FranciscoCastilleja</p>
            </div>
        </div>
    </main>
</Layout>