---
import Layout from '../layouts/Layout.astro';
import GitHubIcon from "./icons/GitHubIcon.astro";

import { getI18N } from '../i18n/';
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale })
---

<Layout title={i18n.Title} description={i18n.Description}>
    <main class="grid w-full h-full bg-gray-100 overflow-hidden grid-cols-2 sm:grid-cols-4 md:grid-cols-5 lg:grid-cols-6 lg:grid-rows-4 gap-3">
        <div class="m-3 rounded-md col-span-2 row-span-4 bg-purple-950 opacity-95 sm:mt-3 sm:ml-3">
            <!-- <div class="relative rounded-t-md w-full h-72"> -->
            <div class="relative rounded-t-md w-full h-40">
                <!-- <img class="w-full h-72 rounded-t-md object-cover" src="../../public/media/foto.webp" alt="Foto"> -->
                <!-- <div class="absolute ml-4 mb-4 bottom-0"> -->
                <div class="grid size-full place-items-center">
                    <h2 class="text-white text-2xl font-extrabold text-center">Francisco Javier Castilleja Quintanilla</h2>
                </div>
            </div>
            <div class="m-3 w-full h-full text-white">
                <p class="my-2 w-11/12 text-pretty">Tengo un enfoque especializado en el front-end, mientras estoy abierto a explorar y aprender el back-end para eventualmente convertirme en un desarrollador full-stack. Considero importante centrarme en una comunicación efectiva y adaptabilidad, elementos que respaldan mi compromiso de fomentar una cultura de mejora continua en el desarrollo web.</p>
                <hr class="w-11/12">
                <p class="my-2">Ingeniero en Sistemas Computacionales</p>
                <p class="my-2">Tamaulipas, México</p>
                <hr class="w-11/12">
                <p class="my-3 text-lg">Habilidades Blandas</p>
                <p class="my-2">Trabajo en equipo</p>
                <p class="my-2">Resolución de problemas</p>
                <p class="my-2">Creatividad</p>
                <p class="my-2">Aprendizaje Continuo</p>
                <hr class="w-11/12">
                <p class="my-3 text-lg">Habilidades Duras</p>
                <p class="my-2">HTML</p>
                <p class="my-2">CSS</p>
                <p class="my-2">JavaScript</p>
                <p class="my-2">Astro</p>
                <p class="my-2">Tailwind CSS</p>
                <p class="my-2">Python</p>
                <p class="my-2">MySQL</p>
                <p class="my-2">Microsoft SQL Server</p>
                <hr class="w-11/12">
                <p class="my-3 text-lg">Idiomas</p>
                <p class="my-2">Español - Nativo</p>
                <p class="my-2">Ingles - Básico</p>
                <hr class="w-11/12">
                <p class="my-3 text-lg">Contacto</p>
                <p class="my-2">Francisco_Castilleja@outlook.com</p>
                <p class="my-2">8681581653</p>
            </div>
        </div>
        <div class="m-3 px-3 text-black rounded-md bg-gray-300 opacity-95 col-span-2 sm:mt-3 sm:mr-3 md:col-span-3 lg:col-span-4 lg:row-span-2">
            <h2 class="my-3 text-3xl">Experiencia</h2>
            <div class="w-full h-auto">
                <h5 class="my-2 text-lg font-bold">Proyecto de Investigación</h5>
                <h6 class="my-2 text-base">Fecha - <span class="p-1 rounded bg-purple-500">Current</span></h6>
                <p>Lorem ipsum dolor sit amet. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>
                <hr class="my-2">
            </div>
            <div class="w-full h-auto">
                <h5 class="my-2 text-lg font-bold">Proyecto Personal - Desarrollo de Sitio Web MarvelKnight </h5>
                <h6 class="my-2 text-base">Fecha - Fecha</h6>
                <p>Consectetur adipisicing elit. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>
                <hr class="my-2">
            </div>
            <div class="w-full h-auto">
                <h5 class="my-2 text-lg font-bold">Divulgación del Proyecto de Investigación - Primeras Etapas de la herramienta</h5>
                <h6 class="my-2 text-base">Fecha - Fecha</h6>
                <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
            </div>
        </div>
        <div class="m-3 px-3 text-black rounded-md bg-gray-300 opacity-95 col-span-2 sm:mt-3 sm:mr-3 md:col-span-3 lg:col-span-4 lg:row-span-2">
            <h2 class="my-3 text-3xl">Educación</h2>
            <div class="w-full h-auto">
                <h5 class="my-2 text-lg font-bold">Universidad Autónoma de Tamaulipas</h5>
                <h6 class="my-2 text-base">Facultad de Medicina e Ingeniería en Sistemas Computacionales de Matamoros</h6>
                <h6 class="my-2 text-base">Ingeniero en Sistemas Computacionales (Titulo en Proceso)</h6>
                <h6 class="my-2 text-base">2019 - 2023</h6>
                <p class="mb-2">Web Development! All I need to know in one place</p>
            </div>
        </div>
        <div class="grid m-3 py-2 place-items-center gap-x-5 rounded-md text-white bg-purple-950 col-span-2 sm:col-span-4 md:col-span-5 lg:col-span-6">
            <p>Redes Sociales</p>
            <p class="flex my-2 gap-x-2">
                <svg width="25" height="25" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" viewBox="0 0 256 256">
                    <path d="M218.123 218.127h-37.931v-59.403c0-14.165-.253-32.4-19.728-32.4-19.756 0-22.779 15.434-22.779 31.369v60.43h-37.93V95.967h36.413v16.694h.51a39.907 39.907 0 0 1 35.928-19.733c38.445 0 45.533 25.288 45.533 58.186l-.016 67.013ZM56.955 79.27c-12.157.002-22.014-9.852-22.016-22.009-.002-12.157 9.851-22.014 22.008-22.016 12.157-.003 22.014 9.851 22.016 22.008A22.013 22.013 0 0 1 56.955 79.27m18.966 138.858H37.95V95.967h37.97v122.16ZM237.033.018H18.89C8.58-.098.125 8.161-.001 18.471v219.053c.122 10.315 8.576 18.582 18.89 18.474h218.144c10.336.128 18.823-8.139 18.966-18.474V18.454c-.147-10.33-8.635-18.588-18.966-18.453" fill="#0A66C2"/>
                </svg>
                https://linkedin.com/in/francisco-castilleja
            </p>
            <p class="flex my-2 gap-x-2">
                <GitHubIcon width="25" height="25"/>
                https://github.com/FranciscoCastilleja
            </p>
        </div>
    </main>
</Layout>