---
import SpanIcon from "./SpanIcon.astro";
import EstoyAprendiendoIcon from "./icons/EstoyAprendiendoIcon.astro";
import NetlifyIcon from "./icons/NetlifyIcon.astro";
import SupabaseIcon from "./icons/SupabaseIcon.astro";
import TypeScriptIcon from "./icons/TypeScriptIcon.astro";
import VercelIcon from "./icons/VercelIcon.astro";
---

<section id="estoyaprendiendo" class="grid mt-20 py-10 w-4/5 h-auto place-items-center">
    <h2 class="flex pb-1 text-xl font-bold items-center gap-x-1">
        <EstoyAprendiendoIcon class="fill-black dark:fill-white"/>
        Estoy Aprendiendo
    </h2>
    <div class="grid py-5 w-full h-auto grid-cols-2 gap-3 place-items-center sm:flex sm:justify-center">
        <SpanIcon>
            <VercelIcon class="fill-black dark:fill-white"/>
            <h3 class="pt-1">Vercel</h3>
        </SpanIcon>
        <SpanIcon>
            <NetlifyIcon/>
            <h3 class="pt-1">Netlify</h3>
        </SpanIcon>
        <SpanIcon>
            <SupabaseIcon/>
            <h3 class="pt-1">Supabase</h3>
        </SpanIcon>
        <SpanIcon>
            <TypeScriptIcon/>
            <h3 class="pt-1">TypeScript</h3>
        </SpanIcon>
    </div>
</section>