---
import EstoyAprendiendoIcon from "./icons/EstoyAprendiendoIcon.astro";
import NetlifyIcon from "./icons/NetlifyIcon.astro";
import SupabaseIcon from "./icons/SupabaseIcon.astro";
import TypeScriptIcon from "./icons/TypeScriptIcon.astro";
import VercelIcon from "./icons/VercelIcon.astro";
---

<section id="estoyaprendiendo" class="grid mt-20 py-10 w-4/5 h-auto place-items-center">
    <h2 class="flex pb-1 text-xl font-bold items-center gap-x-1">
        <EstoyAprendiendoIcon class="fill-black dark:fill-white"/>
        Estoy Aprendiendo
    </h2>
    <div class="flex py-5 w-full h-auto gap-3 justify-center">
        <VercelIcon/>
        <NetlifyIcon/>
        <SupabaseIcon/>
        <TypeScriptIcon/>
    </div>
</section>