---
import EstudiosIcon from "./icons/EstudiosIcon.astro";
---

<section id="estudios" class="grid mt-20 py-10 w-4/5 h-auto place-items-center">
    <h2 class="flex pb-1 text-xl font-bold items-center gap-x-1">
        <EstudiosIcon class="fill-black dark:fill-white"/>
        Estudios
    </h2>
    <div class="grid py-5 max-w-xl h-auto gap-y-3 place-items-center">
        <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Universidad Autónoma de Tamaulipas</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">FMeISCdM</p>
            <p class="font-normal text-gray-700 dark:text-gray-400">Ingeniero en Sistemas Computacionales</p>
            <p class="font-normal text-gray-700 dark:text-gray-400">2019 - 2023</p>
        </div>    
    </div>
</section>