---

---

<header class="grid w-full h-10 place-items-center">
    <nav class="inline py-1 px-2 w-auto h-auto bg-slate-600 rounded-lg">
        <a href="" class="p-1 hover:bg-slate-400 hover:rounded-lg">a</a>
        <a href="" class="p-1 hover:bg-slate-400 hover:rounded-lg">b</a>
        <a href="" class="p-1 hover:bg-slate-400 hover:rounded-lg">c</a>
        <a href="" class="p-1 hover:bg-slate-400 hover:rounded-lg">d</a>
        <a href="" class="p-1 hover:bg-slate-400 hover:rounded-lg">e</a>
        <a href="" class="p-1 hover:bg-slate-400 hover:rounded-lg">f</a>
    </nav>
</header>