---
import HomeIcon from './icons/HomeIcon.astro'
import ExperienciaIcon from './icons/ExperienciaIcon.astro'
import ParticipacionEventosIcon from './icons/ParticipacionEventosIcon.astro'
import ProyectosIcon from './icons/ProyectosIcon.astro'
import HabilidadesIcon from './icons/HabilidadesIcon.astro'
import EstoyAprendiendoIcon from './icons/EstoyAprendiendoIcon.astro'
import SobreMiIcon from './icons/SobreMiIcon.astro'
import EstudiosIcon from './icons/EstudiosIcon.astro'
import ContactoIcon from './icons/ContactoIcon.astro'
import IdiomaIcon from './icons/IdiomaIcon.astro'
---

<header class="grid fixed mt-2 w-full h-10 place-items-center z-10">
    <nav class="hidden py-1 px-2 size-auto text-white bg-violet-950 rounded-lg lg:inline">
        <a href="#inicio" class="p-1 hover:bg-purple-900 hover:rounded-lg">Inicio</a>
        <a href="#experiencia" class="p-1 hover:bg-purple-900 hover:rounded-lg">Experiencia</a>
        <a href="#participacioneventos" class="p-1 hover:bg-purple-900 hover:rounded-lg">Participación en Eventos</a>
        <a href="#proyectos" class="p-1 hover:bg-purple-900 hover:rounded-lg">Proyectos</a>
        <a href="#habilidades" class="p-1 hover:bg-purple-900 hover:rounded-lg">Habilidades</a>
        <a href="" class="p-1 hover:bg-purple-900 hover:rounded-lg">Estoy Aprendiendo</a>
        <a href="" class="p-1 hover:bg-purple-900 hover:rounded-lg">Sobre Mí</a>
        <a href="" class="p-1 hover:bg-purple-900 hover:rounded-lg">Estudios</a>
        <a href="" class="p-1 hover:bg-purple-900 hover:rounded-lg">Contacto</a>
        <a href="" class="p-1 hover:bg-purple-900 hover:rounded-lg">Idioma</a>
    </nav>
    <nav class="flex py-1 px-2 size-auto bg-violet-950 rounded-lg lg:hidden">
        <a href="#inicio" class="block p-2 hover:bg-purple-900 hover:rounded-lg">
            <HomeIcon class="fill-white"/>
        </a>
        <a href="#experiencia" class="p-2 hover:bg-purple-900 hover:rounded-lg">
            <ExperienciaIcon class="fill-white"/>
        </a>
        <a href="#participacioneventos" class="p-2 hover:bg-purple-900 hover:rounded-lg">
            <ParticipacionEventosIcon class="fill-white"/>
        </a>
        <a href="#proyectos" class="p-2 hover:bg-purple-900 hover:rounded-lg">
            <ProyectosIcon class="fill-white"/>
        </a>
        <a href="#habilidades" class="p-2 hover:bg-purple-900 hover:rounded-lg">
            <HabilidadesIcon class="fill-white"/>
        </a>
        <a href="" class="p-2 hover:bg-purple-900 hover:rounded-lg">
            <EstoyAprendiendoIcon class="fill-white"/>
        </a>
        <a href="" class="p-2 hover:bg-purple-900 hover:rounded-lg">
            <SobreMiIcon class="fill-white"/>
        </a>
        <a href="" class="p-2 hover:bg-purple-900 hover:rounded-lg">
            <EstudiosIcon class="fill-white"/>
        </a>
        <a href="" class="p-2 hover:bg-purple-900 hover:rounded-lg">
            <ContactoIcon class="fill-white"/>
        </a>
        <a href="" class="p-2 hover:bg-purple-900 hover:rounded-lg">
            <IdiomaIcon class="fill-white"/>
        </a>
    </nav>
</header>

<script>
    document.addEventListener("DOMContentLoaded", function() {
		var scrollLinks = document.querySelectorAll('a');

		scrollLinks.forEach(function(scrollLink) {
			scrollLink.addEventListener('click', function(this: HTMLAnchorElement, e) {
				e.preventDefault();

                let hrefAttribute = this.getAttribute('href');

                if(hrefAttribute) {
                    var targetId = hrefAttribute.substring(1);
				
                    var targetElement = document.getElementById(targetId) as HTMLElement;

                    targetElement.scrollIntoView({
                        behavior: 'smooth'
                    });
                }
			});
		});
	});
</script>