---
import CerrarIcon from './icons/CerrarIcon.astro';
import DesktopIcon from './icons/DesktopIcon.astro';
import LaptopIcon from './icons/LaptopIcon.astro';
import TabletIcon from './icons/TabletIcon.astro';
import MobilIcon from './icons/MobilIcon.astro';
---

<div id="Panel" class="hidden fixed w-4/5 h-4/5 top-24 bg-gray-200 opacity-95 rounded-xl shadow-lg shadow-purple-900 sm:w-6/12 dark:bg-slate-900">
    <button id="Button" type="button" class="flex group mt-4 mr-4 size-10 float-right justify-center items-center bg-gray-300 rounded-full hover:border-2 hover:border-purple-900 hover:stroke-purple-900 dark:bg-slate-800">
        <CerrarIcon width="15" height="15" class="group-hover:stroke-purple-950 dark:group-hover:stroke-purple-500"/>
    </button>
    <div class="grid mt-20 w-full h-5/6 place-items-center">
        <div class="inline-flex h-10 rounded-md shadow-sm" role="group">
            <button id="btn_desktop" type="button" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-transparent border border-purple-900 rounded-s-lg hover:bg-purple-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-purple-500 focus:bg-purple-900 focus:text-white dark:border-purple-300 dark:text-white dark:hover:text-white dark:hover:bg-purple-700 dark:focus:bg-purple-700">
                <DesktopIcon width="25" height="25"/>
            </button>
            <button id="btn_laptop" type="button" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-transparent border border-purple-900 hover:bg-purple-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-purple-500 focus:bg-purple-900 focus:text-white dark:border-purple-300 dark:text-white dark:hover:text-white dark:hover:bg-purple-700 dark:focus:bg-purple-700">
                <LaptopIcon width="25" height="25"/>
            </button>
            <button id="btn_tablet" type="button" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-transparent border border-purple-900 hover:bg-purple-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-purple-500 focus:bg-purple-900 focus:text-white dark:border-purple-300 dark:text-white dark:hover:text-white dark:hover:bg-purple-700 dark:focus:bg-purple-700">
                <TabletIcon width="25" height="25"/>
            </button>
            <button id="btn_mobil" type="button" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-transparent border border-purple-900 rounded-e-lg hover:bg-purple-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-purple-500 focus:bg-purple-900 focus:text-white dark:border-purple-300 dark:text-white dark:hover:text-white dark:hover:bg-purple-700 dark:focus:bg-purple-700">
                <MobilIcon width="25" height="25"/>
            </button>
        </div>
        <div id="desktop" class="block w-full h-96">
            <div class="relative mx-auto border-gray-800 dark:border-gray-800 bg-gray-800 border-[16px] rounded-t-xl h-[172px] max-w-[301px] md:w-full">
                <div class="rounded-xl overflow-hidden h-[140px] md:h-[262px]">
                    <img src="../../public/media/Desktop-Laptop-MisIdeas.webp" class="dark:hidden h-[140px] w-full rounded-xl" alt="">
                    <img src="../../public/media/Desktop-Laptop-MisIdeas.webp" class="hidden dark:block h-[140px] w-full rounded-xl" alt="">
                </div>
            </div>
            <div class="relative mx-auto bg-gray-900 dark:bg-gray-700 rounded-b-xl h-[24px] max-w-[301px] md:w-full"></div>
            <div class="relative mx-auto bg-gray-800 rounded-b-xl h-[55px] max-w-[83px] md:w-full"></div>
        </div>
        <div id="laptop" class="hidden w-full h-96">
            <div class="relative mx-auto border-gray-800 dark:border-gray-800 bg-gray-800 border-[8px] rounded-t-xl h-[172px] max-w-[301px] md:w-10/12">
                <div class="rounded-lg overflow-hidden h-[156px] bg-white dark:bg-gray-800">
                    <img src="../../public/media/Desktop-Laptop-MisIdeas.webp" class="dark:hidden h-[156px] w-full rounded-xl" alt="">
                    <img src="../../public/media/Desktop-Laptop-MisIdeas.webp" class="hidden dark:block h-[156px] w-full rounded-lg" alt="">
                </div>
            </div>
            <div class="relative mx-auto bg-gray-900 dark:bg-gray-700 rounded-b-xl rounded-t-sm h-[17px] max-w-[351px] md:w-11/12">
                <div class="absolute left-1/2 top-0 -translate-x-1/2 rounded-b-xl w-[56px] h-[5px] md:w-[96px] md:h-[8px] bg-gray-800"></div>
            </div>
        </div>
        <div id="tablet" class="hidden w-full h-96">
            <div class="relative mx-auto border-gray-800 dark:border-gray-800 bg-gray-800 border-[14px] rounded-[2.5rem] h-[420px] max-w-[300px] md:w-full">
                <div class="h-[32px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[72px] rounded-s-lg"></div>
                <div class="h-[46px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[124px] rounded-s-lg"></div>
                <div class="h-[46px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[178px] rounded-s-lg"></div>
                <div class="h-[64px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -end-[17px] top-[142px] rounded-e-lg"></div>
                <div class="rounded-[2rem] overflow-hidden h-[392px] bg-white dark:bg-gray-800">
                    <img src="../../public/media/Tablet-MisIdeas.webp" class="dark:hidden h-[392px]" alt="">
                    <img src="../../public/media/Tablet-MisIdeas.webp" class="hidden dark:block h-[392px]" alt="">
                </div>
            </div>
        </div>
        <div id="mobil" class="hidden w-full h-96">
            <div class="relative mx-auto border-gray-800 dark:border-gray-800 bg-gray-800 border-[14px] rounded-[2.5rem] h-[400px] w-[250px]">
                <div class="h-[32px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[72px] rounded-s-lg"></div>
                <div class="h-[46px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[124px] rounded-s-lg"></div>
                <div class="h-[46px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -start-[17px] top-[178px] rounded-s-lg"></div>
                <div class="h-[64px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -end-[17px] top-[142px] rounded-e-lg"></div>
                <div class="rounded-[2rem] overflow-hidden w-[222px] h-[372px] bg-white dark:bg-gray-800">
                    <img src="../../public/media/Mobil-MisIdeas.webp" class="dark:hidden w-[222px] h-[372px]" alt="">
                    <img src="../../public/media/Mobil-MisIdeas.webp" class="hidden dark:block w-[222px] h-[372px]" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const Panel = document.getElementById('Panel') as HTMLElement;
    const Button = document.getElementById('Button') as HTMLButtonElement;
    let body = document.querySelector('body') as HTMLElement;

    Button.addEventListener('click', () => {
        Panel.classList.add('hidden');
        body.classList.remove('overflow-hidden')
    });

    const BtnDesktop = document.getElementById('btn_desktop') as HTMLButtonElement;
    const BtnLaptop = document.getElementById('btn_laptop') as HTMLButtonElement;
    const BtnTablet = document.getElementById('btn_tablet') as HTMLButtonElement;
    const BtnMobil = document.getElementById('btn_mobil') as HTMLButtonElement;

    const Desktop = document.getElementById('desktop') as HTMLElement;
    const Laptop = document.getElementById('laptop') as HTMLElement;
    const Tablet = document.getElementById('tablet') as HTMLElement;
    const Mobil = document.getElementById('mobil') as HTMLElement;

    BtnDesktop.addEventListener('click', () => {
        Desktop.classList.add('block');
        Desktop.classList.remove('hidden');
        Laptop.classList.remove('block');
        Laptop.classList.add('hidden');
        Tablet.classList.remove('block');
        Tablet.classList.add('hidden');
        Mobil.classList.remove('block');
        Mobil.classList.add('hidden');
    });

    BtnLaptop.addEventListener('click', () => {
        Desktop.classList.remove('block');
        Desktop.classList.add('hidden');
        Laptop.classList.add('block');
        Laptop.classList.remove('hidden');
        Tablet.classList.remove('block');
        Tablet.classList.add('hidden');
        Mobil.classList.remove('block');
        Mobil.classList.add('hidden');
    });

    BtnTablet.addEventListener('click', () => {
        Desktop.classList.remove('block');
        Desktop.classList.add('hidden');
        Laptop.classList.remove('block');
        Laptop.classList.add('hidden');
        Tablet.classList.add('block');
        Tablet.classList.remove('hidden');
        Mobil.classList.remove('block');
        Mobil.classList.add('hidden');
    });

    BtnMobil.addEventListener('click', () => {
        Desktop.classList.remove('block');
        Desktop.classList.add('hidden');
        Laptop.classList.remove('block');
        Laptop.classList.add('hidden');
        Tablet.classList.remove('block');
        Tablet.classList.add('hidden');
        Mobil.classList.add('block');
        Mobil.classList.remove('hidden');
    });
</script>