---
import Section from "./Section.astro";
import ParticipacionEventosIcon from "./icons/ParticipacionEventosIcon.astro";

import { getI18N } from '../i18n/';
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale })
---

<Section id="participacioneventos">
    <h2 class="flex pb-1 text-xl font-bold items-center gap-x-1">
        <ParticipacionEventosIcon class="fill-black dark:fill-white"/>
        {i18n.Sub_PE}
    </h2>
    <div class="grid py-5 w-full h-auto place-items-center gap-y-3 lg:max-w-2xl"> 
        <div class="flex ml-2 p-2 flex-col items-center bg-gray-200 border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <img class="object-contain w-full h-auto rounded-t-lg md:ml-2 md:h-auto md:w-48 md:rounded-lg zoom" src="/media/Reconocimiento-ISC.webp" alt="Imagen del Reconocimiento sobre la Conferencia Reynosa-RODHE">
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-black dark:text-white">{i18n.PE_1_Header} Reynosa-RODHE</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{i18n.PE_1_Description}</p>
            </div>
        </div>
        <div class="flex ml-2 p-2 flex-col items-center bg-gray-200 border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <img class="object-contain w-full h-auto rounded-t-lg md:ml-2 md:h-auto md:w-48 md:rounded-lg zoom" src="/media/Reconocimiento-MiVidaUAT.webp" alt="Imagen del Reconocimiento sobre la Presentación en el evento Mi Vida UAT">
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-black dark:text-white">Mi Vida UAT</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{i18n.PE_2_Description}</p>
            </div>
        </div>
    </div>
</Section>