---
import Section from "./Section.astro";
import SobreMiIcon from "./icons/SobreMiIcon.astro";
---

<Section id="sobremi">
    <h2 class="flex pb-1 text-xl font-bold items-center gap-x-1">
        <SobreMiIcon class="fill-black dark:fill-white"/>
        Sobre Mí
    </h2>
    <div class="grid py-5 max-w-xl h-auto gap-y-3 place-items-center">
        <img class="size-52 rounded-full object-cover" src="../../public/media/foto.webp" alt="Foto">
        <p class="text-pretty">¡Hola! Soy Francisco Castilleja, pero mis amigos me llaman Panchito. Mi pasión por el Multiverso Marvel va más allá de ser solo un fan; se ha convertido en uno de mis proyectos más significativos. Actualmente, estoy inmerso en el desarrollo y mejora constante de una página web dedicada a la cronología de Marvel, un proyecto que inició en diciembre de 2022 y que refleja mi dedicación por este fascinante Multiverso.</p>
        <p class="text-pretty">Aunque he concluido mis estudios en Ingeniería en Sistemas Computacionales, mi camino educativo sigue avanzando a través de un proyecto de imvestigación universitario que me entusiasma profundamente. Este proyecto tiene como objetivo desarrollar una herramienta basada en Inteligencia Artificial para interpretar la Lengua de Señas Mexicana, un paso hacia la inclusión y accesibilidad para las personas con discapacidad auditiva.</p>
        <p class="text-pretty">Mi próximo hito es la obtención de mi título universitario como Ingeniero en Sistemas Computacionales. En mi enfoque profesional, valoro la responsabilidad y la búsqueda constante de aprendizaje. Mi aspiración es llevar mis habilidades y conocimientos a Canadá, donde anhelo vivir y trabajar.</p>
        <p class="text-pretty">¡Estoy emocionado por las oportunidades que me permitirán seguir creciendo como profesional!</p>
    </div>
</Section>