---
import SobreMiIcon from "./icons/SobreMiIcon.astro";
---

<section id="sobremi" class="grid mt-20 py-10 w-4/5 h-auto place-items-center">
    <h2 class="flex pb-1 text-xl font-bold items-center gap-x-1">
        <SobreMiIcon class="fill-black dark:fill-white"/>
        Sobre Mí
    </h2>
    <div class="grid py-5 max-w-xl h-auto gap-y-3 place-items-center">
        <img class="size-52 rounded-full object-cover" src="../../public/media/foto.webp" alt="Foto">
        <p class="text-pretty">¡Hola! Mi nombre es Francisco Castilleja, mis amigos me llaman Panchito. Soy un fanático de Marvel, puedes notarlo ya que unos de mis proyectos está relacionado sobre eso.</p>
        <p class="text-pretty">Participé activamente en un proyecto de investigación universitario destinado a desarrollar una herramienta basada en inteligencia artificial para interpretar la lengua de señas mexicana.</p>
        <p class="text-pretty">Mi próximo logro se enfoca en obtener mi título universitario como Ingeniero en Sistemas Computacionales</p>
        <p class="text-pretty">En mi enfoque profesional, aprecio la responsabilidad y la constante búsqueda de aprendizaje. Aspiro a llevar mis habilidades y conocimientos a Canadá, donde sueño con vivir y trabajar.</p>
        <p class="text-pretty">¡Estoy emocionado por lo que el futuro tiene reservado y por las oportunidades que me permitirán seguir creciendo como profesional!</p>
    </div>
</section>